@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  font-family: 'Raleway', 'sans-serif';
}

.nyu_main_color {
  color: #57068c;
}
.bg_nyu_main_color {
  background-color: #57068c;
}
.bg_nyu_main_color_light {
  background-color: #8900e1;
}

/* hide day of week */
.vuecal__flex .vuecal__heading span :nth-child(4) {
  display: none;
}

.class_calender {
  color: white;
  background-color: #57068c;
  vertical-align: middle;
}

/* disable calender "today" tint */
.vuecal:not(.vuecal--day-view) .vuecal__cell.selected {
  background-color: #00000000;
}

@media only screen and (max-width: 385px) {
  .noevents {
    display: none;
  }
}
