h1 {
  color: #57068c;
}

/* hide day of week */
.vuecal__flex .vuecal__heading span :nth-child(4) {
  display: none;
}

.class_calender {
  color: white;
  background-color: #57068c;
  vertical-align: middle;
}

/* disable calender "today" tint */
.vuecal:not(.vuecal--day-view) .vuecal__cell.selected {
  background-color: #00000000;
}
